.recipe-item {
    position: relative; /* This ensures the button stays within the image container */
    background-color: #09ffef;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 8px;
  }
  
  .recipe-item:hover {
    background-color: rgba(3, 48, 45, 0.8);
    transform: scale(1.05);
  }
  
  .view-details-btn {
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}
  
  .view-details-btn:hover {
    background-color: #03302d; /* Button hover color */
  }
  